@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts';
@layer base {
    body {
        font-family: 'Montserrat', 'Arial', sans-sefif;
        font-weight: 400;
        font-style: normal;
    }
}
@layer utilities {
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .header__menu-link:hover > ul {
        display: block;
    }
    .header__menu-drop::after {
        content: '';
        position: relative;
        display: inline-flex;
        width: 10px;
        height: 10px;
        border-left: 2px solid #E9252B;
        border-bottom: 2px solid #E9252B;
        transform: rotate(-45deg);
        top: -4px;
        margin-left: 6px;
    }
    .hero-wrap {
        background-blend-mode: multiply;
        background: url(../img/hero-bg.jpg), 
                    rgba(0, 41, 89, 0.7);
        background-repeat: no-repeat;
        background-size: cover;
        @media (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
            background: url(../img/hero-bg@2x.jpg),
                    rgba(0, 41, 89, 0.7);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}